<mat-toolbar>
    <span>Nuevo paciente</span>
</mat-toolbar>
<form class="example-container" [formGroup]="form" (ngSubmit)="registrar()" #espForm="ngForm">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Nombres" required [(ngModel)]="paciente.nombres" formControlName="nombres">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apellidos" required [(ngModel)]="paciente.apellidos" formControlName="apellidos">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" required [(ngModel)]="paciente.email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Teléfono" required [(ngModel)]="paciente.telefono" formControlName="telefono">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="DNI" required [(ngModel)]="paciente.dni" formControlName="dni">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dirección" required [(ngModel)]="paciente.direccion" formControlName="direccion">
        </mat-form-field>
    </div>
    <div align="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="espForm.invalid">Aceptar</button>
        <button mat-raised-button color="accent" type="button" (click)="cancelar()">Cancelar</button>
    </div>
</form>